<p id="notice"><%= notice %></p>
<% user1 = @user.articles %>
<table>
<thead>
<tr>
<th>Email</th>
<th>title</th>
<th>description</th>
</tr>
</thead>
        <tr>
  <td> <%= @user.email %> </td></tr>
 
<% user1.each do |item| %>   
 <tr>
 <td></td>
    <td> <%= item.title %> </td>   
    <td> <%= item.description %></td>  
  
    <%end %>
    </tr>
    </table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
